@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgc: #11071f !important;
  --second-color: #9241e4;
  --text: #fff;
}
/* .light {
    --bgc: rgb(106, 0, 255);
    --second-color: hsl(270, 11%, 71%);
    --text: #fff;
  } */

body {
  background-color: var(--bgc);
  scroll-behavior: smooth;
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
