.projects{
    color: #fff;
    margin-bottom: 100px;
}
.projects .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
}
/* .projects .box.left .projectInformation{
order: 0;
} */
@media(max-width:767px) {
    .projects .box{
        flex-direction: column;
        border-bottom: 1px solid #333;
        padding-bottom: 10px;
        margin-bottom: 100px;
    }
}

.projects .projectInformation {
    width: 50%;
    display: flex;
    flex-direction: column;
}
@media(max-width: 767px) {
    .projects .projectInformation {
        order: 2;
    }
    
}

.projects .projectInformation .head-title {
    color: #9857D3;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
    margin-bottom: 5px;
}
.projects .projectInformation .head-title.right {
    text-align: right;
}



.projects .projectInformation .product-name {
    color: #CCD6F6;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0.68px;
    margin-bottom: 30px;
    text-align: left;
}
.projects .projectInformation .product-name.right{
    text-align: right;
}
@media(max-width: 767px) {
    .projects .projectInformation .product-name {
        font-size: 24px;
    }
}
@media(max-width:767px) {
    .projects .projectInformation .head-title,
    .projects .projectInformation .product-name.right,
    .projects .projectInformation .product-name,
    .projects .projectInformation .head-title.right {
        text-align: center;
    }
}
.projects .projectInformation .Project-desc{
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 14px;
    background: url('../../assets/bg-left.png');
    float: left;
}
.projects .projectInformation .Project-desc.right{
    background: url('../../assets/bg-right.png');
    float: right;
}
@media(max-width:767px) {
    .projects .projectInformation .Project-desc,
    .projects .projectInformation .Project-desc.right{
        float: none;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
}



.projects .projectInformation .project-icons{
    display: flex;
    align-items: center;
}
.projects .project-img{
    width: 46%;
}

@media(max-width:767px){
    .projects .project-img{
        width: 80%;
    }
}
.projects .project-img img{
    width: 468px;
    height: 254px;
    float: right;
    z-index: 999;
}
@media(max-width: 1020px){
    .projects .project-img img{
        width: 368px;
        height: 204px;
    }
}
@media(max-width: 940px){
    .projects .project-img img{
        width: 300px;
    }
}
@media(max-width:767px){
    @media(max-width: 940px){
        .projects .project-img img{
            width: 100%;
            height: 100%;
        }
    }
}
.projects .project-img .bg-project{
    position: relative;
    width: 468px;
    height: 254px;
    z-index: -1;
    border-radius: 10px;
    background: #2B0B3A;
    top: -40px;
    left: -40px;
}
.projects .project-img .bg-project.right{
    top: -40px;
    left: 40px;
}
@media(max-width: 1020px){
    .projects .project-img .bg-project{
        width: 368px;
        height: 204px;
    }
}
@media(max-width: 940px){
    .projects .project-img .bg-project{
        width: 300px;
        height: 180px;
    }
}
@media(max-width: 767px){
    .projects .project-img .bg-project{
        display: none;
    }
}