.projects{
    color: #fff;
    margin-bottom: 100px;
}

.projectTitle {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.48px;
    max-width: 50%;
    margin: auto;
    border: 1px solid #eee;
    padding: 8px 4px;
    border-radius: 20px;
}
.projectFilter {
    width: 50%;
    height: 40px;
    background-color: transparent;
    border: 1px solid #eee;
    border-radius: 4px;
    margin: 40px auto;
    padding: 0 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.projectFilter .box {
    width: calc(100% / 3);
    height: 80%;
    background-color: #eeeeee23;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.projectFilter .box.active {
    background-color: rgba(13, 33, 217, 0.137);
    cursor: pointer;
}

.active {
    background-color: rgba(13, 33, 217, 0.137);
    cursor: pointer;
}

.porjetsBoxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.porjetsBoxes .img img {
    width: 100%;
    height: 200px;
}
.img {
    position: relative;
}

.linksContent{
    position: absolute;
    bottom: 10px;
    text-align: left;
    right: 10px;
    display: flex;
    gap: 10px;
}

.linksContent a {
    background-color: #251c31;
    color: #eee;
    line-height: .6;
    padding: 7px 7px;
    border-radius: 50%;
    font-size: 22px;
}

.porjetsBoxes .box {
    box-shadow: rgb(0, 0, 134) 0px 0px 0px 1px inset, rgb(255, 255, 255) 8px -8px 0px -5px, rgb(255, 85, 85) 8px -8px;
    height: 340px;
    transition: all .6s linear;
}

.porjetsBoxes .box:hover {
    box-shadow: rgb(0, 0, 59) 0px 0px 0px 2px inset, rgb(255, 255, 255) 5px -5px 0px -3px, rgb(255, 85, 85) 5px -5px;
}

.porjetsBoxes .boxContent {
padding: 0 10px;
}
.porjetsBoxes .projectName {
    text-transform: uppercase;
    margin: 10px 0px;
}
.porjetsBoxes .projectInfo {
    font-size: 13px;
    color: #563b79;
}

.porjetsBoxes .projectTools {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    background-color: #251c31;
    padding: 4px 20px;
    height: 30px;
    border-radius: 4px;
}

.porjetsBoxes .projectTools img {
    width: 20px;
}