* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    list-style: none;
    border: none;
    font-family: 'Fira Code', monospace;
    resize: none;
}

:root {
    .dark {
        --BGC: #222 !important; 
        --icons-color: #ff7300 !important;
        --discription: rgba(107, 107, 107, 0.5) !important;
        --main-color: #fff !important;
    }

    .light {
        --BGC: #eee !important;
        --main-color: #1b1b1b;
        --icons-color: #C778DD;
        --discription: #666;
    }
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--icons-color);
}

/* selection text */
::selection {
    color: var(--main-color);
    background: var(--BGC);
}

.turnIcon {
    transform: rotate(90deg);
    position: absolute;
    display: block;
    margin-right: 20px;
    left: 0;
    top: -2px;
}

.container {
    width: 100%;
    background-color: var(--BGC);
}

.containerFromCOmp {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 720px) {
    .containerFromCOmp {
        width: 95%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media(max-width: 550px) {
    .containerFromCOmp {
        width: 98%;
        padding-left: 15px;
        padding-right: 15px;
    }
}


/* start nav */

.container .navgation {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.nameSite {
    color: var(--discription);
    font-size: 22px;
}

.nameSite span {
    color: var(--main-color);
    font-size: 28px;
}

.left {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: transparent;
}

.left nav {
    display: flex;
    gap: 20px;
    color: var(--main-color);
}

@media(max-width: 767px) {
    .left{
        gap: 15px;
    }
    .left nav {
        gap: 10px;
    }
}

.left nav .link span {
    color: var(--main-color);
    border: 1px solid var(--icons-color);
    padding: 6px 10px;
    border-radius: 3px;
    background-color: var(--BGC);
    height: 100%;
}
/* end nav */

/* start header */
.homeContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
    transform: translateY(5%);
}
@media(max-width: 767px){
    .homeContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
}

.homeContent .information {
    height: 85vh;
    text-align: center;
    width: 25%;
    background-color: var(--discription);
    padding: 10px 15px;
    border-radius: 6px;
}
@media(max-width: 1080px){
    .homeContent .information {
        width: 35%;
        padding: 10px 15px;
    }
}
@media(max-width: 767px){
    .homeContent .information {
        width: 80%;
        padding: 10px 15px;
        height: 70vh;
    }
}

.homeContent .information img {
    width: 200px;
    height: 200px;
    border: 2px solid var(--icons-color);
    padding: 5px;
    border-radius: 50%;
    margin-bottom: 30px;
}
@media(max-width: 1080px) {
    .homeContent .information img {
        width: 150px;
        height: 150px;
    }
}

.homeContent .my-info {
    text-align: start;
    margin-left: 20px;
    max-width: 90%;
    margin-bottom: 20px;
    color: var(--main-color);
}
@media(max-width: 1080px){
    .homeContent .my-info {
        max-width: 95%;
        margin-left: 10px;
        margin-bottom: 15px
    }
}

.homeContent .my-info span {
    font-size: 18px;
    font-weight: bold;
    color: var(--icons-color);
}

.homeContent .jop-information {
    height: 70vh;
    width: 75%;
    background-color: var(--discription);
    padding: 10px 15px;
    border-radius: 6px;
}

@media(max-width: 1080px){
    .homeContent .jop-information {
        height: 85vh;
    }
}
@media(max-width: 767px){
    .homeContent .jop-information {
        height: 70vh;
        width: 80%;
        margin-bottom: 40px;
    }
}

.homeContent .jop-information .title span {
    color: var(--icons-color);
    font-size: 25px;
    font-weight: bold;
}
.homeContent .jop-information .title {
    font-size: 18px;
    font-weight: 400;
    color: var(--main-color);
    position: relative;
}

.homeContent .jop-information .Home-skills {
    display: flex;
    align-items: center;
    font-size: 22px;
    gap: 10px;
    margin-top: 20px;
}

.Communication {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
}

/* end header */


.ProjectContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-items: center;
    gap: 30px;
    padding: 30px 0;
}

.projects{
    background-color: var(--discription);
}

/* start footer */
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--icons-color);
    padding: 5px 0px;
    :nth-child(1),
    :nth-child(2){
        color: var(--BGC);
        font-size: 22px;
        font-weight: bold;
    }
}