*{
  margin: 0;padding: 0;box-sizing: border-box;
}
:root{
  --bgc: #11071F;
}
body{
  background-color: var(--bgc);
  font-family: sans-serif;
  
  a{
    text-decoration: none;
  }
}
.Container {
  width: 85%;
  margin: auto;
}

/* start nav */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px 50px 0px;
  padding: 10px;
  background: #1A0B2E;
  border-radius: 10px;
}
nav{
  display: flex;
  gap: 20px;
  font-size: 16px;
  color: #fff;
}
nav span {
  cursor: pointer;
  transition: .6s;
}
nav span:hover{
  color: #7127BA;
}
.nav-title {
  color: #fff;
}
.nav-title span {
  color: #7127BA;
}

/* start landing */
.landing{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.head-image {
  width: 385px;
  height: 431px;
  border-radius: 431px;
  background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0.00) 100%);
  position: relative;
}
.head-image .my-image {
  width: 180px;
  height: 259px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0.00) 100%);
}
.head-name {
  color: #FFF;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -0.5px;
  position: absolute;
  transform: translateY(-40px);
  position: relative;
}
.head-name::after{
  background-repeat: no-repeat;
  position: absolute;
  content: url(./assets/Arrow.png);
  left: -110px;top: 10px;
}
.head-name span {
  color: #7127BA;
  font-family: Preahvihear;
  font-size: 28px;
  font-weight: 400;
  line-height: 97px;
  letter-spacing: -0.5px;
}
.head-jop {
  color: #FFF;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.34px;
  text-decoration-line: underline;
}
.head-hent{
  color: #FFF;
  font-size: 50px;
  font-weight: 400;
  line-height: 126.664%;
  letter-spacing: 1px;
  width: 500px;
}

/* start aboute */
.aboute{
  margin: 80px 0px;
}
.aboute .jopTItle{
  width: 674px;
  color: #FFF;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.aboute .cuurentJop{
  width: 573px;
  color: #FFF;
  font-family: Preahvihear;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.42px;
  margin-bottom: 40px;
}
.aboute .disc{
  width: 892px;
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.44px;
}

.skills {
  margin: 140px 0px;

}
.skills p{
  margin-bottom: 40px;
}
.skills .skillsTitle {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.48px;
  width: 55%;
  margin: 20px auto;
  border: 1px solid #eee;
  padding: 8px 4px;
  border-radius: 100px;
}

.skills .skills-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
}
.skills .skills-boxes .box {
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(37, 28, 49, 1);
  border-radius: 50%;
  margin: 10px;
}

.skills .skills-boxes .box.html svg {
  color: red;
  width: 25px;
  height: 25px;
}

.contact-me {
  margin: 200px 0px 100px 0px;
  width: 40%;
}
.contact-me .contact-title {
  color: #FFF;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  margin-bottom: 60px;
}
.contact-me .contact-descreption {
  color: #FFF;
  font-size: 14px;
  width: 100%;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
}
.contact-me .contactLink {
  color: #fff;
}

.footer {
  text-align: center;
  font-size: 22px;
  color: #eee;
  margin-bottom: 20px;
}